.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .navbar.scrolled {
    background-color: #00a86b; /* Green color when scrolled */
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;

  }
  
  .navbar-links li {
    margin-left: 1rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  
  .sign-in-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }